[Desktop Entry]
Type=Application
TryExec=kitty
Exec=kitty -e fish
Icon=kitty.png
Terminal=false
Categories=System;TerminalEmulator;

Name=Kitty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Kitty
Actions=New;

X-Desktop-File-Install-Version=0.26

[Desktop Action New]
Name=New Terminal
Exec=kitty -e fish
